#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #1c2020;
  color: white;
  padding: 15px;
  font-size: 2em;
}

.MyShips {
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.card{
  width: 320px;
  padding: 20px;
  border: 1px solid black;
  background-color:  skyblue;
}